@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800);

@-ms-viewport {
    width: device-width;
}

@-o-viewport {
    width: device-width;
}

@viewport {
    width: device-width;
}

@media print {
    body {
        -webkit-print-color-adjust: exact !important;
        
    }
}

body {
    -webkit-print-color-adjust: exact;
}

body {
    font-family: 'Open Sans',Arial,Tahoma;
    font-weight: 400;
    font-size: 1em;
    color: #363636;
    
}

.container {
    margin-top: 80px;
    margin-bottom: 15px;
    background: #fff;
}

#photo-header {
    margin-top: -75px;
    border-bottom: dashed 1px #E2E2E2;
}

#photo {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    overflow: hidden;
    padding: 5px;
    background: #ededed;
    display: inline-block;
}

@media print {
}

#photo img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

#text-header h1 {
    margin: 0;
    padding: 0;
    font-size: 2.4em;
    font-weight: 700;
    text-transform: capitalize;
    letter-spacing: -1px;
}

    #text-header h1::first-line {
        font-size: 1.5em;
        letter-spacing: -4px;
        font-weight: 800;
        line-height: 1.5em;
    }

    #text-header h1 span {
        color: #3DBAF0;
    }

    #text-header h1 sup {
        opacity: .5;
    }
#text-header> h6{margin: 0; padding: 0;}
#text-header>h6>a{color:#5b5548;}
#text-header:after {
    width: 100%;
    height: 3px;
    background: url(../img/line.png);
    margin-top: 0px;
    content: '';
    display: block;
}

.box {
    margin-bottom: 15px;
}

    .box h2 {
        color: #2085B0;
        font-size: 1.8em;
        font-weight: 700;
        text-transform: uppercase;
    }

        .box h2:before {
            content: '//';
            margin-right: 5px;
        }

    .box p {
        font-size: 1.3em;
        line-height: 1.5em;
    }

#education {
    margin-top: 20px;
    position: relative;
    padding: 1em 0;
    list-style: none;
}

    #education:before {
        width: 5px;
        height: 100%;
        position: absolute;
        left: 25px;
        top: 0;
        content: ' ';
        display: block;
        background: #ec7263;
        background: -moz-linear-gradient(top,#fff 0,#ec7263 7%,#ec7263 89%,#fff 100%);
        background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#fff),color-stop(7%,#ec7263),color-stop(89%,#ec7263),color-stop(100%,#fff));
        background: -webkit-linear-gradient(top,#fff 0,#ec7263 7%,#ec7263 89%,#fff 100%);
        background: -o-linear-gradient(top,#fff 0,#ec7263 7%,#ec7263 89%,#fff 100%);
        background: -ms-linear-gradient(top,#fff 0,#ec7263 7%,#ec7263 89%,#fff 100%);
        background: linear-gradient(to bottom,#fff 0,#00B3FF 7%,#2085B0 89%,#fff 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0);
    }

    #education li {
        width: 100%;
        z-index: 2;
        position: relative;
        float: left;
    }

    #education .year {
        width: 10%;
        background: #fff;
        padding: 10px;
        font-size: 1.5em;
        font-weight: 700;
        display: inline-block;
    }

    #education .description {
        width: 80%;
        display: inline-block;
        background: #eee;
        margin-bottom: 10px;
        position: relative;
        padding: 10px 10px 0;
        border-bottom: 1px solid #ddd;
    }

        #education .description:after {
            content: '';
            position: absolute;
            top: 15px;
            right: 0;
            left: -16px;
            height: 0;
            width: 0;
            border: solid transparent;
            border-right-color: #eee;
            border-width: 8px;
            pointer-events: none;
        }

        #education .description h3 {
            font-size: 1.6em;
            margin: 0;
            padding: 0;
            font-weight: 700;
        }

        #education .description p {
            font-size: 1.3em;
            margin-top: 5px;
            padding: 0;
        }

.job {
    margin-bottom: 15px;
}

    .job .where {
        font-size: 1.3em;
        font-weight: 700;
        color: #318EB6;
    }

    .job .year {
        font-size: 1.3em;
        opacity: .7;
    }

    .job .profession {
        font-size: 1.6em;
        font-weight: 700;
    }

    .job .description {
        font-size: 1.2em;
        line-height: 1.5em;
    }

    .job a.address {
        cursor: pointer;
        text-decoration: none;
    }

        .job a.address:hover {
            text-decoration: none;
            color: #616161;
        }

.contact-item {
    width: 100%;
    float: left;
}

    .contact-item .icon {
        padding: 10px;
        border-right: 1px solid #aaa;
        border-bottom: 1px solid #aaa;
        opacity: .2;
    }

    .contact-item:last-child .icon {
        border-bottom: none;
    }

    .contact-item .fa {
        font-size: 2em;
    }

    .contact-item .title {
        width: 80%;
        width: calc(100% - 55px);
        font-size: 1.5em;
        font-weight: 700;
        opacity: .9;
    }

        .contact-item .title.only {
            margin-top: 10px;
        }

    .contact-item .description {
        width: 80%;
        width: calc(100% - 55px);
        font-size: 1.2em;
        opacity: .7;
    }

.item-skills {
    height: 30px;
    background: #3DBAF0;
    color: #fff;
    padding: 5px 10px;
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.3em;
    font-weight: 600;
    -webkit-print-color-adjust: exact;
}

.skills-legend {
    margin-top: 20px;
    opacity: .8;
}

    .skills-legend:before {
        width: 100%;
        height: 3px;
        position: relative;
        content: ' ';
        display: block;
        margin-bottom: -13px;
        background: #c6c6c6;
    }

    .skills-legend div {
        width: 32%;
        display: inline-block;
        font-size: 1.2em;
        color: #a9a9a9;
        float: left;
    }

.legend:before {
    width: 3px;
    height: 10px;
    position: relative;
    content: ' ';
    display: block;
    margin: auto auto 15px;
    background: #c6c6c6;
}

.legend-left.legend:before {
    margin-left: 0;
}

.legend-right.legend:before {
    margin-right: 0;
}

.legend-left:nth-child(2) span {
    margin-left: -25px;
}

.legend-right:nth-child(3) span {
    margin-right: -20px;
}

.legend-right {
    text-align: right;
}

#language-skills .skill {
    font-size: 1.3em;
    margin: 10px 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

    #language-skills .skill .icons {
        width: 111px;
        height: 14px;
        background: url(images/star-grey.png) no-repeat;
    }

    #language-skills .skill .icons-red {
        background: url(images/star-red.png) no-repeat;
    }

.hobby {
    color: #fff;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 5px 5px 5px 25px;
    background: #A75265;
    position: relative;
    font-size: 1.2em;
}

    .hobby:before {
        content: "\f004";
        font-family: FontAwesome;
        font-style: normal;
        font-weight: 400;
        position: absolute;
        top: 6px;
        left: 7px;
    }

@media (min-width:500px) {
    #education .description {
        width: 85%;
    }
}

@media (min-width:768px) {
    #education .description {
        width: 85%;
    }
}

@media (min-width:992px) {
    #education .description {
        width: 87%;
    }
}

@media (min-width:1200px) {
    #education .description {
        width: 90%;
    }
}

ul.projects {
    padding: 0;
    margin: 0;
    list-style: none;
}

span.project-title {
    font-size: 13px;
    font-weight: 700;
    font-family: 'Open Sans';
}

ul.project-skills {
    padding: 0;
    margin: 0;
    list-style: none;
}

    ul.project-skills li {
        display: inline-block;
        background-color: #3DCEF0;
        padding: 3px 5px;
        color: #FFF;
        font-size: 10px;
        font-weight: 700;
        margin: 1px;
        border-radius: 5px;
    }

.projects > li:after {
    border-bottom: dashed 1px #EAEAEA;
    display: block;
    height: 5px;
    content: " ";
}

.contact-item:hover .icon {
    background: #00b2ff;
    color: #FFF;
    opacity: 0.7;
    border-color: #3dbaf0;
    /* margin: 2px 0; */
}

.contact-item .icon {
    transition: all 0.5s ease;
}

@media print {
    #photo{background: #ededed!important;}
    .box h2 {
        color: #2085B0 !important;
    }

        .box h2:before {
            content: '//';
            margin-right: 5px;
            color: #2085B0 !important;
        }

    .item-skills {
        height: 30px !important;
        background: #3DBAF0 !important;
        color: #fff !important;
    }

    ul.project-skills li {
        background-color: #3DCEF0 !important;
        color: #FFF !important;
    }

    .job .where {
        color: #318EB6 !important;
    }

    .skills-legend:before {
        background: #c6c6c6 !important;
    }

    .legend:before {
        background: #c6c6c6 !important;
    }

    .job a.address {
        color: #337ab7 !important;
        display: inline !important;
    }

        .job a.address:after {
            content: none !important;
        }

    #education:before {
        background: linear-gradient(to bottom,#fff 0,#00B3FF 7%,#2085B0 89%,#fff 100%) !important;
    }

    #education .year {
        background: #fff !important;
    }

    #education .description {
        background: #eee !important;
    }

    .hobby {
        background: #A75265!important;
        color: #fff!important;
    }
    .hobby:before{color: #fff!important;}
    .wrapper{background: #ededed!important;position: absolute!important;}
    .container {    background: #fff!important;}
    #text-header>h6>a:after{content:'';}
}
.wrapper{background: #ededed!important;position: absolute;}